{% extends 'blog/base.html' %}
{% block content %}
<form style="height:50%;" method="POST" enctype="multipart/form-data" class="post-form">{% csrf_token %}
<div class="row">
    <div class="col-md-3">
            <p>
                <label for="id_photo">Photo:</label>
                <input type="file" name="photo" accept="image/*" required="" id="id_photo">
            </p>
    </div>
    <div class="col-md-3">
            <p>
                <label for="id_name">Ваше имя</label>
                <input type="text" name="name" maxlength="25" required="" aria-invalid="true" id="id_name">
            </p>
    </div>
    <div class="col-md-3">
            <p>
                <label for="id_max_health">Ваше максимальное здоровье</label>
                <input type="number" required="" name="max_health" aria-invalid="true" id="id_max_health">
            </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
            <p>
                <label for="id_strength">Strength:</label>
                <input type="number" name="strength" required="" aria-invalid="true" id="id_strength">
            </p>
            <p>
                <label for="id_endurance">Endurance:</label>
                <input type="number" name="endurance" required="" aria-invalid="true" id="id_endurance">
            </p>
            <p>
                <label for="id_intellegence">Intellegence:</label>
                <input type="number" name="intellegence" required="" aria-invalid="true" id="id_intellegence">
            </p>
            <p>
                <label for="id_charizma">Charizma:</label>
                <input type="number" name="charizma" required="" aria-invalid="true" id="id_charizma">
            </p>
            <p>
                <label for="id_dexterity">Dexterity:</label>
                <input type="number" name="dexterity" required="" aria-invalid="true" id="id_dexterity">
            </p>
            <p>
                <label for="id_wisdom">Wisdom:</label>
                <input type="number" name="wisdom" required="" aria-invalid="true" id="id_wisdom">
            </p>
    </div>
    <div class="col-md-2">
            <p>
                <input class="im" type="checkbox" name="acrobatics" id="id_acrobatics">
                <label for="id_acrobatics">Акробатика(Лов)</label>
            </p>
            <p>
                <input class="im" type="checkbox" name="acrobatics" id="id_analysis">
                <label for="id_analysis">Анализ(Инт)</label>
            </p>
            <p>
                <input class="im" type="checkbox" name="acrobatics" id="id_athletics">
                <label for="id_athletics">Акробатика(Лов)</label>
            </p>
            <p>
                <input class="im" type="checkbox" name="acrobatics" id="id_perception">
                <label for="id_perception">Акробатика(Лов)</label>
            </p>
            <p>
                <input class="im" type="checkbox" name="acrobatics" id="id_survival">
                <label for="id_survival">Акробатика(Лов)</label>
            </p>
            <p>
                <input class="im" type="checkbox" name="acrobatics" id="id_performance">
                <label for="id_performance">Акробатика(Лов)</label>
            </p>
            <p>
                <input class="im" type="checkbox" name="acrobatics" id="id_history">
                <label for="id_history">Акробатика(Лов)</label>
            </p>
            <p>
                <input class="im" type="checkbox" name="acrobatics" id="id_sleight_hand">
                <label for="id_sleight_hand">Акробатика(Лов)</label>
            </p>
            <p>
                <input class="im" type="checkbox" name="acrobatics" id="id_magic">
                <label for="id_magic">Акробатика(Лов)</label>
            </p>
            <p>
                <input class="im" type="checkbox" name="acrobatics" id="id_medicine">
                <label for="id_medicine">Акробатика(Лов)</label>
            </p>
            <p>
                <input class="im" type="checkbox" name="acrobatics" id="id_deception">
                <label for="id_deception">Акробатика(Лов)</label>
            </p>
            <p>
                <input class="im" type="checkbox" name="acrobatics" id="id_nature">
                <label for="id_nature">Акробатика(Лов)</label>
            </p>
            <p>
                <input class="im" type="checkbox" name="acrobatics" id="id_insight">
                <label for="id_insight">Акробатика(Лов)</label>
            </p>
            <p>
                <input class="im" type="checkbox" name="acrobatics" id="id_religic">
                <label for="id_religic">Акробатика(Лов)</label>
            </p>
            <p>
                <input class="im" type="checkbox" name="acrobatics" id="id_stealth">
                <label for="id_stealth">Акробатика(Лов)</label>
            </p>
            <p>
                <input class="im" type="checkbox" name="acrobatics" id="id_conviction">
                <label for="id_conviction">Акробатика(Лов)</label>
            </p>
            <p>
                <input class="im" type="checkbox" name="acrobatics" id="id_caring">
                <label for="id_caring">Акробатика(Лов)</label>
            </p>
    </div>
    <div class="col-md-6">
        <label for="items">Ваше снаряжение</label>
        <input style="height:50%;" type="text" name="items" id="items">
    </div>
</div>
<button type="submit">Добавить</button>
</form>
{% endblock %}