{% extends 'blog/base.html' %}
{% block content %}
<form style="height:50%;" method="POST" enctype="multipart/form-data" class="post-form">{% csrf_token %}
<div class="row">
    <div class="col-md-3">
            <p>
                <label for="id_photo">Photo:</label>
                <input type="file" name="photo" accept="image/*" required="" id="id_photo">
            </p>
    </div>
    <div class="col-md-3">
            <p>
                <label for="id_name">Ваше имя</label>
                <input type="text" name="name" maxlength="25" required="" aria-invalid="true" id="id_name">
            </p>
    </div>
    <div class="col-md-3">
            <p>
                <label for="id_max_health">Ваше максимальное здоровье</label>
                <input type="number" required="" name="max_health" aria-invalid="true" id="id_max_health">
            </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
            <p>
                <label for="id_strength">Strength:</label>
                <input type="number" name="strength" required="" aria-invalid="true" id="id_strength">
            </p>
            <p>
                <label for="id_endurance">Endurance:</label>
                <input type="number" name="endurance" required="" aria-invalid="true" id="id_endurance">
            </p>
            <p>
                <label for="id_intellegence">Intellegence:</label>
                <input type="number" name="intellegence" required="" aria-invalid="true" id="id_intellegence">
            </p>
            <p>
                <label for="id_charizma">Charizma:</label>
                <input type="number" name="charizma" required="" aria-invalid="true" id="id_charizma">
            </p>
            <p>
                <label for="id_dexterity">Dexterity:</label>
                <input type="number" name="dexterity" required="" aria-invalid="true" id="id_dexterity">
            </p>
            <p>
                <label for="id_wisdom">Wisdom:</label>
                <input type="number" name="wisdom" required="" aria-invalid="true" id="id_wisdom">
            </p>
    </div>
    <div class="col-md-2">
            <p>
                <input class="im" type="checkbox" name="acrobatics" id="id_acrobatics">
                <label for="id_acrobatics">Акробатика(Лов)</label>
            </p>
            <p>
                <input class="im" type="checkbox" name="analysis" id="id_analysis">
                <label for="id_analysis">Анализ(Инт)</label>
            </p>
            <p>
                <input class="im" type="checkbox" name="athletics" id="id_athletics">
                <label for="id_athletics">Атлетика(Сил)</label>
            </p>
            <p>
                <input class="im" type="checkbox" name="perception" id="id_perception">
                <label for="id_perception">Восприятие(Муд)</label>
            </p>
            <p>
                <input class="im" type="checkbox" name="survival" id="id_survival">
                <label for="id_survival">Выживание(Муд)</label>
            </p>
            <p>
                <input class="im" type="checkbox" name="performance" id="id_performance">
                <label for="id_performance">Выступление(Хар)</label>
            </p>
            <p>
                <input class="im" type="checkbox" name="intimidation" id="id_intimidation">
                <label for="id_intimidation">Запугивание(Хар)</label>
            </p>
            <p>
                <input class="im" type="checkbox" name="history" id="id_history">
                <label for="id_history">История(Инт)</label>
            </p>
            <p>
                <input class="im" type="checkbox" name="sleight_hand" id="id_sleight_hand">
                <label for="id_sleight_hand">Ловкость рук(Лов)</label>
            </p>
            <p>
                <input class="im" type="checkbox" name="magic" id="id_magic">
                <label for="id_magic">Магия(Инт)</label>
            </p>
            <p>
                <input class="im" type="checkbox" name="medicine" id="id_medicine">
                <label for="id_medicine">Медицина(Муд)</label>
            </p>
            <p>
                <input class="im" type="checkbox" name="deception" id="id_deception">
                <label for="id_deception">Обман(Хар)</label>
            </p>
            <p>
                <input class="im" type="checkbox" name="nature" id="id_nature">
                <label for="id_nature">Природа(Инт)</label>
            </p>
            <p>
                <input class="im" type="checkbox" name="insight" id="id_insight">
                <label for="id_insight">Проницательность(Муд)</label>
            </p>
            <p>
                <input class="im" type="checkbox" name="religic" id="id_religic">
                <label for="id_religic">Религия(Инт)</label>
            </p>
             <p>
                <input class="im" type="checkbox" name="stealth" id="id_stealth">
                <label for="id_stealth">Скрытность(Лов)</label>
            </p>
            <p>
                <input class="im" type="checkbox" name="conviction" id="id_conviction">
                <label for="id_conviction">Убеждение(Хар)</label>
            </p>
            <p>
                <input class="im" type="checkbox" name="caring" id="id_caring">
                <label for="id_caring">Уход за животными(Муд)</label>
            </p>
    </div>
    <div class="col-md-6">
        <label for="items">Ваше снаряжение</label>
        <input style="height:50%;" type="text" name="items" id="items">
    </div>
</div>
<button type="submit">Добавить</button>
</form>
{% endblock %}